:root {
    --primary-color: #1780e2;
    --secondary-color: #ffbd07;
    --black-color: #1c1c1e;
    --grey-color: #a1a2aa;
    --grey-shades-1-color: #cccccc;
    --grey-shades-2-color: #f5f7f7;
    --white-color: #ffffff;
}

.checkedStar {
    color: orange;
}

.feedback-name {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 0;
}

.feedback-time {
    font-weight: 500;
    font-size: 13px;
    color: #8b8b91;
    margin-top: 0;
}

.feedback-review {
    font-weight: normal;
    font-size: 15px;
    color: #8b8b91;
    margin-top: 0;
}

.primary-color {
    color: var(--primary-color) !important;
}

.secondary-color {
    color: var(--secondary-color) !important;
}
.black-color {
    color: var(--black-color) !important;
}
.grey-shades-1-color {
    color: var(--grey-shades-1-color) !important;
}
.grey-shades-2-color {
    color: var(--grey-shades-2-color) !important;
}

.primary-bg {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.secondary-bg {
    background-color: var(--secondary-color) !important;
    color: white !important;
}
.black-bg {
    background-color: var(--black-color) !important;
    color: white !important;
}
.grey-shades-1-bg {
    background-color: var(--grey-shades-1-color) !important;
}
.grey-shades-2-bg {
    background-color: var(--grey-shades-2-color) !important;
}

.circle {
    border-radius: 50%;
}
