body {
    margin: 0;
    padding: 0;
}
.h1 {
    color: #1780e2;
    margin-bottom: 70px;
    font-size: 45px;
    letter-spacing: 2px;
}

.search-field {
    height: 50px;
    padding: 10px;
    border: 1px solid #1780e2;
    border-radius: 25px;
    outline: none;
}

.guru {
    width: 400px;
}

.lokasi {
    width: 200px;
}
.search-btn {
    height: 50px;
    width: 150px;
    background-color: #1780e2;
    border: none;
    border-radius: 25px;
    color: white;
}
.search-btn:hover {
    background: #3d9ffc;
    cursor: pointer;
}
.form-box {
    padding: 10px;
}

.card-img-top {
    max-height: 200px;
}

.card-guru {
    margin-bottom: 2.5rem;
}

.card-guru a {
    text-decoration: none;
}

.card-guru a .card {
    /* background-color: #1780e2; */
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
        0px 10px 15px rgba(70, 70, 0, 0.12);
    padding: 0;
    border-radius: 16px;
}

.card-guru a .card img {
    border-radius: 16px 16px 0 0;
}
